<header>
    <nav>
        <a routerLink="/home" class="home" >Home</a>
        <a routerLink="/login" class="login-btn">Register for FREE</a>
        <li class="blog"><span>Blog</span></li>
        <div class="about-and-outlets">
            <li><span class="about">About</span></li>
            <li><span class="outlet">Outlets</span></li>
        </div>
    </nav>
    <div class="bottom-header">
        <img routerLink="/home" src="assets/Images/logo.png" class="company-logo">
        <form class="search-form">
            <input type="search" class="search-input" placeholder="Dim Sum">
            <div class="search-btn-section">
                <button class="search-btn" type="submit"></button>
                <img src="assets/Images/search.png" class="search-icon">
            </div>
        </form>
        <img src="assets/Images/addtocart.png" class="cart-icon">
        <img src="assets/Images/delivery.png" class="delivery-section">
    </div>
</header>