header {
    display: inline-block;
    width: 100%;
    height: 125px;
    top: 0;
}

nav a {
    text-decoration: none;
    font-size: 0.875rem;
}

nav {
    background-color: #F7FAFC;
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
}

.home {
    margin-left: 7.5rem;
    font-family: "Coda";
    color: black;
}

.login-btn {
    margin-left: 50rem;
    background-color: #134A6C;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    font-family: "Basic";
    color: white;
    text-decoration: none;
}

nav li span {
    position: relative;
    font-family: "Coda";
    font-size: 0.8rem;
    left: -3px;
    margin-right: 0.5rem;
}

.blog {
    list-style-type: none;
    margin-left: 1rem;
}

.bottom-header {
    background-color: white;
    display: inline-flex;
    width: 100%;
    height: 90px;
}

.company-logo {
    margin: 2rem 0 2.5rem 6rem;
    height: 40px
}

.search-input {
    width: 26.8rem;
    height: 2.5rem;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    position: absolute;
}

.search-icon {
    position: absolute;
    top: 0.8rem;
    left: 25.1rem;
    width: 0.93rem;
}

.search-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #4FC5C1;
    border: none;
    border-radius: 0 6px 6px 0;
    align-items: center;
    left: 24.3rem;
}

.search-btn-section {
    display: flex;
}

.search-form {
    position: relative;
    margin: 1rem 0 2.5rem 26.25rem;
    width: 445px;
}

.cart-icon {
    width: 40px;
    height: 40px;
    margin: 1rem 0 2.5rem 0.8rem;
}

.delivery-section {
    height: 40px;
    margin: 1rem 0 2.5rem 1.56rem;
}