<footer>
    <div class = "footerLeftSec">
        <img src = "assets/Images/logo.png" class = "companyFooterLogo">
        <p class = "copyright">&#169; Copyright 2022 XINN HOLDINGS SDN. BHD.</p> 
        <p class = "contact">Look For Us On</p>
        <div class = socialMedia>
            <img src = "assets/Images/fb_icon.png" class = "facebookIcon">
            <img src = "assets/Images/insta_icon.png" class = "instagramIcon">
            <img src = "assets/Images/whatsapp_icon.png" class = "whatsappIcon">
            <img src = "assets/Images/youtube_icon.png" class = "youtubeIcon">
        </div>
    </div>
    <div class = "footerRightSec">
        <nav class = "footerSection">
            <p>Xinn Holdings</p>
            <a href = "#">About Us</a>
            <a href = "#">Contact Us</a>
        </nav>
        <nav class = "footerSection">
            <p>Information</p>
            <a href = "#">Privacy Policy</a>
            <a href = "#">Delivery Policy</a>
            <a href = "#">Refund Policy</a>
            <a href = "#">Terms and Conditions</a>
        </nav>
        <nav class = "footerSection">
            <p>My Account</p>
            <a href = "#">View Account</a>
            <a href = "#">Order History</a>
        </nav>
    </div>
    
</footer>