footer {
    width: 100%;
    bottom: 0;
    background-color: white;
    height: 270px;
    display: flex;
    position: relative;
    border-top: 4px solid #5CC0A2;
}

.footer-left-section {
    height: 100%;
    width: 455px;
}

.company-footer-logo {
    margin: 2rem 0 0 6rem;
    height: 40px;
}

.copyright {
    font-family: 'Coda';
    font-size: 0.8rem;
    margin-left: 6rem;
    text-wrap: nowrap;
}

.contact {
    font-family: 'Basic';
    font-size: 1rem;
    margin: 3.1rem 0 0 6rem;
}

.social-media {
    margin: 1rem 0 0 6rem;
    display: flex;
    justify-content: space-between;
    width: 125px;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon:hover {
    cursor: pointer;
}

.footer-section {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    align-content: space-between;
    margin-right: 5rem;
    background-color: white;
}

.footer-section p {
    font-family: "Basic";
    font-size: 1rem;
    margin-bottom: 1.56rem;
    text-wrap: nowrap;
}

.footer-section a {
    text-decoration: none;
    color: black;
    font-family: 'Coda';
    font-size: 1rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
}

.footer-right-section {
    justify-content: space-between;
    width: 715px;
    display: flex;
    margin-top: 2rem;
}