<div class="entire">
    <div class="loginpage">
        <img src="/assets/Images/loginPage_sale.png" alt="Login Page Mega Sale" class="ong-some-sale" />
    </div>
    <div class="loginpage">
        <form>
            <div class="form-upper">
                <h2 class="title">Welcome to Xinn Holding!</h2>
                <input type="text" placeholder="Email Address" class="credentials" />
                <div class="pw">
                    <img [src]="image" alt="Hide and Reveal the Password" class="hide-and-reveal-pw" (click)="viewPW()" />
                    <input type="text" placeholder="Password" class="credentials" />
                </div>
            </div>
            <div>
                <button class="login-button" type="submit">LOG IN</button>
                <a class="forgot-pw" href="#">Forgot Password?</a>
            </div>
            <p class="or-login-with" >Or Log In With</p>
            <div class="social-media-btn">
                <button class="facebook-button" type="submit">
                    <img src="/assets/Images/login_facebook@2x.png" alt="Facebook Button" class="fb-logo" />
                    Facebook
                </button>
                <button class="google-button" type="submit">
                    <img src="/assets/Images/login_google.png" alt="Google Button" class="google-logo" />
                    Google
                </button>
            </div>
        </form>
        <div class="register-section">
            <p class="subtitle">
                <span class="enjoy-text" >ENJOY</span> exclusive discounts & our loyalty programme when you join the Dim Sum Family!
            </p>
            <button class="register-button" type="submit">REGISTER FOR FREE NOW</button>
        </div>
    </div>
  </div>