<div class = "entire">
    <div class = "loginpage">
            <img src = "/assets/Images/loginPage_sale.png" alt = "Login Page Mega Sale" class = "ongSomeSale" />
    </div>
    <div class = "loginpage">
        <form>
            <div class = "formUpper">
                <h2 class = "title">Welcome to Xinn Holding!</h2>
                <input type = "text" placeholder = "Email Address" class = "credentials" />
                <div class = "PW">
                    <img [src] = "image" alt = "Hide and Reveal the Password" class = "HideAndRevealPW" (click) = "viewPW()" />
                    <input type = "text" placeholder = "Password" class = "credentials" />
                </div>
            </div>
            <div>
                <button class = "loginButton" type = "submit">LOG IN</button>
                <a class = "forgotPW" href = "#">Forgot Password?</a>
            </div>
            <p class = "orLoginWith" >Or Log In With</p>
            <div class = "socialMediaBtn">
                <button class = "facebookButton" type = "submit">
                    <img src = "/assets/Images/login_facebook@2x.png" alt = "Facebook Button" class = "FbLogo" />
                    Facebook
                </button>
                <button class = "googleButton" type = "submit">
                    <img src = "/assets/Images/login_google.png" alt = "Google Button" class = "GoogleLogo" />
                    Google
                </button>
            </div>
        </form>
        <div class = "registerSection">
            <p class = "subtitle">
                <span class = "enjoyText" >ENJOY</span> exclusive discounts & our loyalty programme when you join the Dim Sum Family!
            </p>
            <button class = "registerButton" type = "submit">REGISTER FOR FREE NOW</button>
        </div>
    </div>
  </div>