.entire {
    display: flex;
    top: 0;
    margin: 0;
    background-color: #b91217;
}

.ong-some-sale {
    width: 600px;
    margin: 0.625rem 7.5rem;
}

.loginpage {
    box-sizing: border-box;
    margin-right: 1.25rem;
}

form, .register-section {
    margin: 1rem 7.5rem 0.625rem 0px;
    background-color: white;
    padding: 0.625rem 2.18rem;
    border-radius: 10px;
}

form {
    display: inline-block;
}

.register-section {
    display: block;
}

.credentials {
    width: 295px;
    font-size: 1rem;
    display: block;
    margin: 1.56rem 0;
    height: 38px;
    padding-left: 0.81rem;
    border-radius: 6px;
    border: 1.5px solid #dedede;
}

.credentials::placeholder {
    color: #9d9d9d;
    font-family: "Coda";
}

.login-button {
    padding: 0.81rem 2.625rem;
    font-size: 0.81rem;
    border: none;
    border-radius: 4px;
    background-color: #3fc5c0;
    color: white;
    margin: 0.5rem 1.87rem 1rem 0;
    font-family: "Basic";
}

.forgot-pw:link {
    font-size: 0.81rem;
    color: #9d9d9d;
    text-decoration: none;
    font-family: "Basic";
}

.forgot-pw:hover {
    text-decoration: underline;
}

.forgot-pw:visited {
    color: #9d9d9d;
}

.title {
    font-size: 1.56rem;
    font-family: "Basic";
}

.or-login-with {
    font-size: 0.81rem;
    color: #9d9d9d;
    margin: 1rem 0;
    font-family: "Coda";
}

.facebook-button, .google-button {
    flex-basis: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Basic";
}

.social-media-btn {
    width: 311px;
    height: 40px;
    display: flex;
    margin-bottom: 1.56rem;
}

.facebook-button {
    margin-right: 1rem;
    background-color: #395796;
    border: none;
    border-radius: 2px;
    color: white;
}

.google-button {
    background-color: #3b82ef;
    border: none;
    border-radius: 2px;
    color: white;
}

.fb-logo, .google-logo {
    width: 20px;
    margin-right: 0.62rem;
}

.hide-and-reveal-pw {
    position: absolute;
    top: 9px;
    right: 13px;
    cursor: pointer;
}

.pw {
    position: relative;
}

.subtitle {
    width: 313px;
    font-family: "Basic";
    font-size: 1rem;
}

.enjoy-text {
    color: #CE1C75;
    font-size: 1.5rem;
    font-weight: bold;
}

.register-button {
    background-color: #CE1C75;
    padding: 0.81rem 1.56rem;
    font-family: "Basic";
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
