header {
    display: inline-block;
    width: 100%;
    height: 125px;
    top: 0;
}

nav a {
    text-decoration: none;
    font-size: 14px;
}

nav {
    background-color: #F7FAFC;
    width: 100%;
    display: flex;
    align-items: center;
    height: 35px;
}

.home {
    margin-left: 120px;
    font-family: "Coda";
    color: black;
}

.loginBtn {
    margin-left: 800px;
    background-color: #134A6C;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 13px;
    font-family: "Basic";
    color: white;
    text-decoration: none;
}

nav li span {
    position: relative;
    font-family: "Coda";
    font-size: 13px;
    left: -3px;
    margin-right: 8px;
}

.blog {
    list-style-type: none;
    margin-left: 17px;
}

.bottomHeader {
    background-color: white;
    display: inline-flex;
    width: 100%;
    height: 90px;
}

.companyLogo {
    margin: 16px 0 40px 95px;
    height: 40px
}

.searchInput {
    width: 430px;
    height: 40px;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    position: absolute;
}

.searchIcon {
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    width: 15px;

}

.searchBtn {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #4FC5C1;
    border: none;
    border-radius: 0 6px 6px 0;
    align-items: center;
    right: 0;
}

.searchBtnSection {
    display: flex;
}

.searchForm {
    position: relative;
    margin: 16px 0 40px 420px;
    width: 445px;
}

.cartIcon {
    width: 40px;
    height: 40px;
    margin: 16px 0 40px 13px;
}

.deliverySection {
    height: 40px;
    margin: 16px 0 40px 25px;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: white;
    height: 270px;
    display: flex;
    position: relative;
    border-top: 4px solid #5CC0A2;
}

.footerLeftSec {
    height: 100%;
    width: 455px;
}

.companyFooterLogo {
    margin: 30px 0 0 95px;
    height: 40px;
}

.copyright {
    font-family: 'Coda';
    font-size: 13px;
    margin-left: 95px;
}

.contact {
    font-family: 'Basic';
    font-size: 15px;
    margin: 50px 0 0 95px;
}

.socialMedia {
    margin: 15px 0 0 95px;
    display: flex;
    justify-content: space-between;
    width: 125px;
}

.facebookIcon, .instagramIcon, .whatsappIcon, .youtubeIcon {
    width: 24px;
    height: 24px;
}

.footerSection {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    align-content: space-between;
    margin-right: 80px;
    background-color: white;
}

.footerSection p {
    font-family: "Basic";
    font-size: 16px;
    margin-bottom: 25px;
}

.footerSection a {
    text-decoration: none;
    color: black;
    font-family: 'Coda';
    font-size: 15px;
    margin-bottom: 15px;
}

.footerRightSec {
    justify-content: space-between;
    width: 815px;
    display: flex;
    margin-top: 12px;
}


