.entire {
    display: flex;
}

.megaSale {
    width: 550px;
    margin: 94px 130px;
}

.loginpage {
    box-sizing: border-box;
}

form, .registerSection {
    margin: 15px 120px 20px 0px;
    background-color: white;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 10px;
}

.credentials {
    width: 295px;
    font-size: 15px;
    display: block;
    margin: 25px 0px;
    height: 38px;
    padding-left: 13px;
    border-radius: 6px;
    border: 1.5px solid #dedede;
}

.credentials::placeholder {
    color: #9d9d9d;
}

.loginButton {
    padding: 13px 42px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    background-color: #3fc5c0;
    color: white;
    margin: 7px 30px 15px 0px;
}

.forgotPW:link {
    font-size: 13px;
    color: #9d9d9d;
    text-decoration: none;
}

.forgotPW:hover {
    text-decoration: underline;
}

.forgotPW:visited {
    color: #9d9d9d;
}

title {
    font-size: 31px;
}

.orLoginWith {
    font-size: 13px;
    color: #9d9d9d;
    margin: 15px 0px;
}

.facebookButton, .googleButton {
    flex-basis: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.socialMediaBtn {
    width: 311px;
    height: 40px;
    display: flex;
    margin-bottom: 25px;
}

.facebookButton {
    margin-right: 15px;
    background-color: #395796;
    border: none;
    border-radius: 2px;
    color: white;
}

.googleButton {
    background-color: #3b82ef;
    border: none;
    border-radius: 2px;
    color: white;
}

.FbLogo, .GoogleLogo {
    width: 20px;
    margin-right: 10px;
}

.HideAndRevealPW {
    position: absolute;
    top: 9px;
    right: 13px;
    cursor: pointer;
}

.PW {
    position: relative;
}

.subtitle {
    width: 313px;
}

.enjoyText {
    color: #CE1C75;
    font-size: 20px;
}