@import 'swiper/scss';
@import 'swiper/css/pagination';

html, body {
    margin: 0px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: black;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #134A6C;
    font-size: 20px;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 6px #00000029;
}

.swiper-button-next {
    margin-right: 33px;
}

.swiper-button-prev {
    margin-left: 38px;
}

.swiper-slide {
    width: 264px;
    height: 340px;
    display: grid;
    justify-items: center;
    text-align: center;
}