@import 'swiper/scss';
@import 'swiper/css/pagination';

html, body {
    margin: 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: black;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #134A6C;
    font-size: 1.25rem;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 6px #00000029;
}

.swiper-button-next {
    margin-right: 2rem;
}

.swiper-button-prev {
    margin-left: 2.375rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    cursor: pointer;
    opacity: 0.75;
}

.swiper-slide {
    width: 264px;
    height: 340px;
    display: grid;
    justify-items: center;
    text-align: center;
}

.mat-mdc-tab-label-container {
    border-bottom-style: none !important;
}

.mdc-tab {
    font-size: 1.125rem !important;
    font-family: 'Basic' !important;
    border-radius: 2.18rem;
    padding: 1rem;
    color: black !important;
}

.mdc-tab--active {
    background-color: #C6EBE0 !important;
    color: black !important;
}

.mat-mdc-tab-body {
    margin-top: 1.2rem;
}

.mat-mdc-tab-group {
    --mat-tab-header-active-label-text-color: black !important;
    --mat-tab-header-inactive-label-text-color: black !important;
    --mat-tab-header-active-hover-label-text-color: black !important;
    --mat-tab-header-active-focus-label-text-color: black !important;
    --mat-tab-header-inactive-hover-label-text-color: black !important;
    --mat-tab-header-active-ripple-color: none !important;
    --mat-tab-header-inactive-ripple-color: none !important;
}