@import 'swiper/scss';
@import 'swiper/css/pagination';

html, body {
    margin: 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: black;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #134A6C;
    font-size: 1.25rem;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 6px #00000029;
}

.swiper-button-next {
    margin-right: 2rem;
}

.swiper-button-prev {
    margin-left: 2.375rem;
}

.swiper-slide {
    width: 264px;
    height: 340px;
    display: grid;
    justify-items: center;
    text-align: center;
}

.mat-mdc-tab-label-container {
    border-bottom-style: none !important;
}

.mdc-tab {
    font-size: 1.12rem !important;
    font-family: 'Basic' !important;
    width: 151px !important;
    height: 54px !important;
    border-radius: 35px;
}

.mdc-tab--active {
    background-color: #C6EBE0 !important;
}

.mat-mdc-tab-body {
    margin-top: 1.2rem;
}