.product-list-container {
    width: 100%;
    height: 60px;
    align-items: center;
    vertical-align: middle;
    position: relative;
    margin: 1.37rem 0 1rem 0;
}

.product-list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.56rem;
    font-family: 'Basic';
}

.product-list-title hr{
    border: 1px solid #C6C6C6;
    width: 180px;
    margin: 0.625rem;
}

.product-list-container button {
    position: absolute;
    right: 6.93rem;
    top: 21px;
    height: 25px;
    border: 1px solid #3FC5C0;
    color: #134A6C;
    background-color: white;
    font-size: 0.875rem;
    font-family: 'Basic';
    font-style: bold;
}

.product-list-container button:hover {
    cursor: pointer;
}

.product-list-title span {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #C6C6C6;
}

.product-list-title p {
    margin: 2.5rem ;
}

.weekly-sales-image {
    width: 264px;
    height: 177px;
    border-radius: 5px;
}

.product-list-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.125rem;
}

.weekly-sale-swiper {
    width: 1190px;
}

.product-name {
    font-size: 1rem;
    font-family: 'Basic';
    margin: 0;
    width: 255px;
    height: 60px;
    display: grid;
    align-items: center;
}

.product-price {
    font-size: 1.125rem;
    font-family: 'Basic';
    margin: 0.8rem 0;
    color: #C6C6C6;
    text-decoration: line-through;
}

.product-discount {
    margin: 0;
    font-family: 'Basic';
    font-size: 1.5rem;
}

.discount-percent {
    color: #CE1C75;
}