.banner-swiper {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.image {
    display: block;
    height: 400px;
    object-fit: cover;
}

.swiper-pagination {
    top: 30rem;
    height: 2.5rem;
}

.banner {
    vertical-align: top;
    display: flex;
    background-color: #b91217;
}